body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-form-inline {
  display: inline-block;
  vertical-align: middle;
}
.ant-upload-list-item-done {
  margin-bottom: 10px;
}

.json-pretty {
  overflow: auto;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
